---
// Component Imports
import BaseLayout from 'layout:BaseLayout';
import Carousel from '../components/Carousel';

---
<BaseLayout title="My Astro Home Page">
  <h1>This is Astro Poc</h1>
  <Carousel client:load/>
  <a href="market://details?id=com.facebook.katana">App</a>
  <!-- <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script> -->
</BaseLayout>
