---
// Component Imports
import BaseLayout from 'layout:BaseLayout';
import Carousel from '../components/Carousel';

if(typeof window !== 'undefined') {
  console.log(window.navigator)
}

---
<BaseLayout title="My Astro Home Page">
  <h1>This is Astro Poc</h1>
  <a href="market://details?id=com.google.android.apps.nbu.paisa.user">Wallet Android</a>
  <a href="shoebox://">Wallet iOS</a>
  <a href="https://play.google.com/store/apps/details?id=">Google Pay</a>
  {
    typeof window !== 'undefined' && <p client:load>{window.navigator.userAgent}</p>
  }
  <Carousel client:load/>
  <!-- <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script> -->
</BaseLayout>
