---
// Component Imports
import BaseLayout from 'layout:BaseLayout';
---
<BaseLayout title="My Astro Home Page">
  <h1>Hello, world!</h1>
  <p>This is my page content. It will be nested inside a layout.</p>
</BaseLayout>
