---
// src/layouts/BaseLayout.astro
import Nav from 'layout:Nav'
const { title } = Astro.props;
---
<html>
  <head>
    <title>Astro Poc: { title }</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style global>
			@import "../styles/global.css";
		</style>
  </head>
  <body>
    <Nav />
    <div class="container mx-auto px-4">
      <!-- slot: your page content will be injected here. -->
      <slot />
    </div>
  </body>
</html>
