---
import Button from 'component:Button';
export interface Props {
	prevUrl: string;
	nextUrl: string;
	current: string;
	start: string;
	end: string;
	total: number;
}

const { prevUrl, nextUrl, total, start, end, current = '/posts/' } = Astro.props;
---

<nav class="nav flex justify-between align-end mt-20 mb-10">
  <div>
    <a href={prevUrl || '#'} aria-label="Previous Page"><Button disabled={!prevUrl}>&laquo;</Button></a>
    {
      Array(total - 1).fill(0).map((item, index) => {
        const currentUrl = `${index === 0 ? `${current}` : `${current}${index + 1}/`}`;
        return <a href={currentUrl}><Button>{index + 1}</Button></a>
      })
    }
    <a href={nextUrl || '#'} aria-label="Next Page"><Button disabled={!nextUrl}>&raquo;</Button></a>
  </div>
  <div>
    <small class="count text-base">{start + 1}–{end + 1} of {total}</small>
  </div>
</nav>
